.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  background-color: #e5e5e5;
}

.nav {
  @apply bg-white pt-1 px-4 flex justify-between border-b border-[#ededed] drop-shadow-sm;
}
.navHeading {
  @apply text-xs font-medium text-[#778CA2] text-center;
}

.navSubHeading {
  @apply text-xs font-bold tracking-wider text-[#1E1E1E] text-center;
}

.buyBtn {
  @apply border-[0.8px] rounded-sm border-[#52965E] px-4 text-sm font-medium text-[#52965E] cursor-pointer;
}
.sellBtn {
  @apply border-[0.8px] rounded-sm border-[#E55541] px-4 text-sm font-medium text-[#E55541] cursor-pointer;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
